@import "../../mixins/flexbox";

.footer {
  margin-top: 1rem;
  width: 100%;

  @include flexbox(row, space-between, center, nowrap);

  .footerTags {
    @include flexbox(row, start, center, nowrap);
    justify-self: flex-start;

    & div {
      margin-left: 0;
      margin-right: 10px;
    }
  }

  .footerReactons {
    @include flexbox(row, space-between, center, nowrap);

    .reactionIcon {
      color: black;
    }
  }
}

.header {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;

  @include flexbox(row, start, center, nowrap);

  .actionsButton:hover {
    background-color: unset;
  }

  .headerActionItems {
    @include flexbox(row, end, center, nowrap);
  }

  .author {
    @include flexbox(row, flex-end, center, nowrap);
  }

  .author div:nth-child(1) {
    margin-right: -20px;
  }
}

.card {
  @include flexbox(column, space-between, start, nowrap);

  .message {
    align-self: center;
    width: 100%;
    text-align: center;

    p {
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-bottom: 0;
      white-space: pre-wrap;
      word-break: break-all;
    }
  }

  .showButton {
    align-self: center;
  }

  .showButton:hover {
    background-color: unset;
  }
}
