@import "../../mixins/flexbox";
@import "../../theme/variables";

.footer {
  width: 100%;

  @include flexbox(row, space-between, center, nowrap);

  .footerTags {
    @include flexbox(row, flex-start, center, nowrap);
    justify-self: flex-start;

    & div {
      margin-left: 0;
      margin-right: 10px;
    }
  }

  .footerReactons {
    @include flexbox(row, space-between, center, nowrap);

    .reactionIcon {
      color: $friendly-palette-shades-900;
    }
  }
}

.card {
  @include flexbox(column, space-between, flex-start, nowrap);

  .author {
    @include flexbox(row, center, center, nowrap);
    width: 100%;
    height: 25px;
    position: relative;
    top: -20px;

    div {
      box-shadow: 0 0 0 5px $friendly-palette-primary-200;
    }
  }

  .message {
    width: 100%;
    align-self: center;
    text-align: center;

    p {
      font-size: 14px;
      overflow: hidden;
      -webkit-box-orient: vertical;
      margin-bottom: 0;
      white-space: pre-wrap;
      word-break: break-all;
    }
  }

  .showButton {
    align-self: center;
  }

  .showButton:hover {
    background-color: unset;
  }
}
