@import "../../mixins/flexbox";

.mainLayoutContainer {
  display: flex;
  width: 100%;

  .mainLayoutNavigationBar {
    display: block;
    height: 100vh;
    padding-top: 23px;
    background-color: #16697a;

    .drawerHeader,
    .drawerSubHeader {
      @include flexbox(row, start, center, nowrap);
      color: #8ab4bc;
      padding-left: 24px;
      height: 56px;
    }

    .drawerHeader {
      align-self: flex-start;
      padding-left: 26px;
    }

    .drawerHeaderText {
      font-size: 28px;
      font-weight: 700;
      line-height: 48px;
      padding-left: 26px;
      font-family: "Open Sans", sans-serif;
    }

    .drawerSubHeaderText {
      justify-self: center;
      margin-left: 10px;
    }

    .navigationTitle {
      font-size: 13px;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      padding-left: 26px;
    }

    .navigationList {
      padding-right: 14px;
    }

    .listItem {
      border-radius: 15px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0;
    }

    .listItemButton {
      @include flexbox(row, space-between, center, nowrap);
      padding-left: 20px;
    }

    .listItemText {
      @include flexbox(row, start, center, nowrap);
      color: #8ab4bc;
    }

    .listItemIcon {
      margin: 0 24px 0 0;
      width: 14px;
      color: #8ab4bc;
      align-self: center;
    }
  }

  .mainLayoutContent {
    @include flexbox(column, center, center, nowrap);
    width: 100%;
    height: 100vh;

    main {
      width: 100%;

      .customBoard {
        width: 250px;
        height: 170px;
        border: 1px solid black;
        margin-bottom: 10px;
        cursor: pointer;
      }

      .customBoard + h3 {
        margin-bottom: 10px;
      }
    }
  }
}
