@import "../../mixins/flexbox";

.mainLayoutContainer {
  display: flex;
  width: 100%;

  .mainLayoutContent {
    @include flexbox(column, center, center, nowrap);
    width: 100%;
    height: 100vh;

    main {
      width: 100%;

      .customBoard {
        width: 250px;
        height: 170px;
        border: 1px solid black;
        margin-bottom: 10px;
        cursor: pointer;
      }

      .customBoard + h3 {
        margin-bottom: 10px;
      }
    }
  }
}
