.card__header {
  display: flex;
}

.card__header__user-section {
  display: flex;
  width: 15%;
  align-items: flex-start;
}

.card__header__message-section {
  display: flex;
  width: 85%;
}

.card__header__message-section--textarea {
  width: 100%;
}

.card__header__user-section--avatar {
  display: flex;
}

.card__body {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card__body__tags {
  width: 100%;
}

.card__footer {
  display: flex;
  justify-content: flex-end;
}
