@import "../../mixins/flexbox";

.board-container {
  width: 100%;

  @include flexbox(column, center, center, nowrap);
}

.board {
  width: 100%;
  height: 90vh;
  padding: 20px 0;

  @include flexbox(row, space-around, center, nowrap);

  .addingColumn {
    width: 360px;
    margin: 15px;

    button {
      width: inherit;
      line-height: inherit;
    }

    i {
      margin-right: 5px;
    }
  }
}
