@import "../../mixins/flexbox";
@import "../../theme/variables";

.board-container {
  width: 100%;
  height: auto;
  background-color: $friendly-palette-neutral-50;

  @include flexbox(column, center, center, nowrap);
}

.board {
  width: 100%;
  padding-top: 44px;

  @include flexbox(row, center, center, nowrap);

  .addingColumn {
    width: 360px;
    margin: 15px;

    button {
      width: inherit;
      line-height: inherit;
    }

    i {
      margin-right: 5px;
    }
  }
}

.modalButtons {
  @include flexbox(row, flex-end, center, nowrap);
  width: 100%;
}
