@import "../../mixins/flexbox";

.timer {
  @include flexbox(row, space-between, center, nowrap);

  &__pause {
    width: 20px;
    height: 20px;

    @include flexbox(row, center, center, nowrap);
  }

  &__time {
    color: #636b74;
    margin: 0 10px;
  }

  &__pause,
  &__start,
  &__reset {
    border: none;
    background-color: #f5f6f7;
  }

  &__reset {
    width: 20px;
    height: 20px;

    @include flexbox(row, center, center, nowrap);
  }
}
