@import "../../mixins/flexbox";
@import "../../theme/variables";

.timer {
  @include flexbox(row, space-between, center, nowrap);

  &__time {
    color: $friendly-palette-neutral-700;
    margin: 0 15px;
    border: 1px solid $friendly-palette-neutral-100;
    border-radius: 100px;
    padding: 8px 25px;
    cursor: context-menu;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.5px;
  }

  &__pause,
  &__start,
  &__reset {
    @include flexbox(row, center, center, nowrap);
    background-color: $friendly-palette-shades-50;
    border: none;

    i::before {
      display: block;
      width: 16px;
      height: 16px;
    }
  }
}
