@import "../../mixins/flexbox";

.commentInput {
  @include flexbox(column, start, flex-start, nowrap);
  width: 100%;
  padding: 8px;
  background-color: var(--friendly-palette-neutral-50);

  .commentInputTop {
    @include flexbox(row, start, stretch, nowrap);
    width: 100%;
    height: 70%;

    .commentInputAvatarContainer {
      @include flexbox(column, start, flex-start, nowrap);
      width: 15%;
    }

    .commentInputTextareaContainer {
      @include flexbox(column, start, flex-start, nowrap);
      width: 100%;

      .commentInputTextarea {
        font-family: "Open Sans", sans-serif;
        width: 100%;
        height: 110px;
        font-size: 12px;
        line-height: 16.34px;
        font-weight: 300;
      }
    }
  }

  .commentInputBottom {
    @include flexbox(row, start, flex-start, nowrap);
    width: 100%;
    height: 20%;

    .commentTagsContainer {
      @include flexbox(column, start, flex-start, nowrap);
      width: 90%;

      .commentTags {
        width: 100%;

        input {
          background-color: transparent;
        }

        .tagsOutput {
          @include flexbox(row, flex-start, center, nowrap);
          justify-self: flex-start;

          & div {
            margin-left: 0;
            margin-right: 10px;
          }
        }
      }
    }

    .commentInputSendContainer {
      @include flexbox(column, start, flex-end, nowrap);
      width: 10%;
      padding-right: 6px;

      .sendButtonIconComponent {
        border-radius: 8px;
        background-color: var(--friendly-palette-accent-900);
      }
    }
  }
}
