@import "../../mixins/flexbox";
@import "../../theme/variables";

.column {
  @include flexbox(row, center, flex-start, wrap);
  position: relative;
  height: 100%;
  width: 430px;
  min-width: 430px;
  padding-top: 30px;
  margin: 0 15px;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #45505f;
  border-bottom: none;
  background-color: $friendly-palette-shades-50;

  &__header {
    padding: 0;
    width: 224px;
    margin-bottom: 10px;

    @include flexbox(column, center, center, nowrap);

    h2 {
      color: $friendly-palette-shades-900;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
      cursor: context-menu;
    }

    &__subtitle {
      color: $friendly-palette-neutral-500;
      margin-bottom: 0;
      text-align: center;
      font-weight: 300;
      font-size: 18px;
      line-height: 27.24px;
      font-family: "Open Sans", sans-serif;
      cursor: context-menu;
    }

    &__couner {
      display: none;
    }
  }

  &__comments {
    &__min {
      @include flexbox(column, unset, unset, nowrap);
      width: 100%;
      height: calc(100% - 48px);
      padding-top: 25px;
      padding-bottom: 100px;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
      -ms-overflow-style: none;
    }

    &__max {
      @include flexbox(column, unset, unset, nowrap);
      width: 100%;
      height: calc(100% - 48px);
      padding-top: 25px;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
      -ms-overflow-style: none;
    }
  }

  &__comments__min::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &__comments__max::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &__comments__min::-webkit-scrollbar {
    width: 0;
  }

  &__comments__max::-webkit-scrollbar {
    width: 0;
  }

  &__adding {
    @include flexbox(row, center, center, nowrap);
    margin-bottom: 40px;

    h5 {
      margin-left: 10px;
      margin-bottom: 0;
    }
  }

  .cardCommentContainer {
    @include flexbox(row, center, center, nowrap);
    position: absolute;
    align-self: flex-end;
    width: 100%;
    background-color: rgba(25, 29, 35, 0.05);
    height: auto;
  }
}
