@import "../../mixins/flexbox";

.column {
  height: 100%;
  width: 360px;
  min-width: 270px;
  padding: 10px;
  border-radius: 15px;
  margin: 0 15px;
  border: 2px solid #45505f;

  &__header {
    height: 85px;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #636b74;

    h2 {
      color: #34363b;
      margin-bottom: 10px;
      text-align: center;
      cursor: context-menu;
    }

    p {
      color: #636b74;
      cursor: context-menu;
    }
  }

  &__comments {
    @include flexbox(column, unset, unset, nowrap);
  }

  &__adding {
    @include flexbox(row, center, center, nowrap);
    margin-bottom: 15px;

    h4 {
      margin-left: 10px;
    }
  }
}
