@import "../../mixins/flexbox";

.column {
  height: 100%;
  min-width: 270px;
  padding: 15px;
  border-radius: 15px;
  margin: 0 15px;
  border: 2px solid #45505f;
  overflow-y: auto;

  &__header {
    color: #000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #636b74;

    h2 {
      color: #34363b;
      text-align: center;
      cursor: context-menu;
    }

    p {
      color: #636b74;
      cursor: context-menu;
      margin-bottom: 0;
    }
  }

  &__comments {
    @include flexbox(column, unset, unset, nowrap);
  }

  &__adding {
    @include flexbox(row, center, center, nowrap);
    margin-bottom: 15px;

    h5 {
      margin-left: 10px;
      margin-bottom: 0;
    }
  }
}
