@import '../../mixins/flexbox';

.column {
    height: 100%;
    width: 360px;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;

    &__header {
        height: 85px;
        background-color: goldenrod;
        color: #000;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;

        h2 {
            margin-bottom: 5px;
        }
    }

    &__comments {
        @include flexbox(column, unset, unset, nowrap);
    }

    &__adding {
        height: 30px;
        @include flexbox(row, center, center, nowrap);
        cursor: pointer;
        margin-bottom: 15px;

        h4 {
            margin-left: 10px;
        }
    }

    &__adding:hover {
        border: 2px solid blue;
        border-radius: 5px;
    }
}