@import "../../mixins/flexbox";

.column {
  height: 100%;
  width: 430px;
  min-width: 430px;
  padding: 30px 28px;
  border-radius: 15px;
  margin: 0 15px;
  border: 1px solid #45505f;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;

  &__header {
    padding: 0;
    width: 224px;
    margin: auto;
    margin-bottom: 10px;

    @include flexbox(column, center, center, nowrap);

    h2 {
      color: #000;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
      cursor: context-menu;
    }

    p {
      color: #666;
      margin-bottom: 0;
      text-align: center;
      font-weight: 300;
      font-size: 20px;
      line-height: 27.24px;
      font-family: "Open Sans", sans-serif;
      cursor: context-menu;
    }

    &__couner {
      display: none;
    }
  }

  &__comments {
    @include flexbox(column, unset, unset, nowrap);
  }

  &__adding {
    @include flexbox(row, center, center, nowrap);
    margin-bottom: 15px;

    h5 {
      margin-left: 10px;
      margin-bottom: 0;
    }
  }
}

.column::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.column::-webkit-scrollbar {
  width: 6px;
}
