@import "../../mixins/flexbox";

.container {
  @include flexbox(column, space-between, start, nowrap);
}

.select {
  height: 40px;
  width: 211px;
  background-color: #fff !important;
  border: none !important;
}

.select:hover {
  background-color: #fff;
}

.mainContainer {
  height: 20px;

  fieldset {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 1) 0 0 0 0, rgba(21, 21, 21, 0.08) 0 1px 2px;
  }
}
