@import "../../mixins/flexbox";

.stepperHeader {
  width: 200;

  @include flexbox(row, flex-start, stretch, wrap);
}

.stepperHeaderTittle {
  margin: 0;

  @include flexbox(row, flex-start, center, nowrap);
}

.boardNameContainerLeft {
  @include flexbox(row, center, flex-start, nowrap);
}

.boardNameContainerRight {
  margin-left: 1rem;

  @include flexbox(row, center, flex-start, nowrap);
}

.stepperStepLabel {
  color: rgba(72, 74, 75, 1);
}
