@import "../../mixins/flexbox";

.stepperHeader {
  @include flexbox(row, start, stretch, wrap);
  width: 100;
  padding-top: 15px;
}

.stepperHeaderSubtittles,
.stepperHeaderInfo {
  @include flexbox(column, start, start, nowrap);
}

.stepperHeaderInfo {
  margin-left: 5px;
}
