@use "~ag-grid-community/styles" as ag;
@include ag.grid-styles;

#my-grid {
  width: 100vw;
  height: 100vh;
}

.ag-theme-alpine {
  --ag-header-background-color: white;

  .bi {
    color: #191d23;
  }

  .ag-cell-label-container {
    font-size: 14px;
    font-weight: 600;
    color: #2d7887;
  }

  .ag-center-cols-container {
    width: 100%;
  }
}
