@import "../../mixins/flexbox";
@import "../../theme/variables";

.header {
  width: 100%;
  height: 8vh;

  @include flexbox(row, flex-end, center, wrap);

  .mainHeader {
    @include flexbox(row, flex-end, center, nowrap);
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: $friendly-palette-neutral-50;
  }

  &__user-box {
    width: 40%;

    @include flexbox(row, flex-end, center, nowrap);

    span {
      color: $friendly-palette-neutral-800;
      line-height: 40px;
      cursor: context-menu;
      margin-right: 5px;
    }
  }
}
