@import "../../mixins/flexbox";
@import "../../theme/variables";

.header {
  width: 100%;
  height: 8vh;

  @include flexbox(row, flex-end, center, wrap);

  .mainHeader {
    @include flexbox(row, flex-end, center, nowrap);
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: $friendly-palette-neutral-50;
  }

  &__board-box {
    width: 60%;

    @include flexbox(row, flex-end, center, nowrap);

    &__name {
      cursor: context-menu;
      margin-bottom: 0;
    }
  }

  &__board-actions {
    width: 30%;

    @include flexbox(row, space-between, center, nowrap);
  }

  &__user-box {
    width: 40%;

    @include flexbox(row, flex-end, center, nowrap);

    span {
      color: #45505f;
      line-height: 40px;
      cursor: context-menu;
      margin-right: 5px;
    }
  }

  &__sign-out {
    padding: 0 10px;
  }
}
