// neutral
$friendly-palette-neutral-50: #f4f4f4;
$friendly-palette-neutral-100: #ddddde;
$friendly-palette-neutral-200: #babbbd;
$friendly-palette-neutral-300: #a3a5a7;
$friendly-palette-neutral-400: #8c8e91;
$friendly-palette-neutral-500: #75777b;
$friendly-palette-neutral-600: #5e6165;
$friendly-palette-neutral-700: #474a4f;
$friendly-palette-neutral-800: #303439;
$friendly-palette-neutral-900: #191d23;
// primary
$friendly-palette-primary-50: #f3f8f8;
$friendly-palette-primary-100: #dce9eb;
$friendly-palette-primary-200: #b9d2d7;
$friendly-palette-primary-300: #a2c3ca;
$friendly-palette-primary-400: #8ab4bc;
$friendly-palette-primary-500: #73a5af;
$friendly-palette-primary-600: #5c96a2;
$friendly-palette-primary-700: #458795;
$friendly-palette-primary-800: #2d7887;
$friendly-palette-primary-900: #16697a;
// secondary
$friendly-palette-secondary-50: #fff7f2;
$friendly-palette-secondary-100: #ffe7d9;
$friendly-palette-secondary-200: #ffcfb3;
$friendly-palette-secondary-300: #ffbf99;
$friendly-palette-secondary-400: #ffaf80;
$friendly-palette-secondary-500: #ffa066;
$friendly-palette-secondary-600: #ff904d;
$friendly-palette-secondary-700: #ff8033;
$friendly-palette-secondary-800: #ff701a;
$friendly-palette-secondary-900: #ff6000;
// accent
$friendly-palette-accent-50: #fffbf4;
$friendly-palette-accent-100: #fff2df;
$friendly-palette-accent-200: #fff4bf;
$friendly-palette-accent-300: #ffdbaa;
$friendly-palette-accent-400: #ffd295;
$friendly-palette-accent-500: #ffca80;
$friendly-palette-accent-600: #ffc16b;
$friendly-palette-accent-700: #ffb855;
$friendly-palette-accent-800: #ffaf40;
$friendly-palette-accent-900: #ffa62b;
// shades
$friendly-palette-shades-50: #fff;
$friendly-palette-shades-900: #000;
