@import "../../mixins/flexbox";
@import "../../theme/variables";

.createBoardContainer {
  @include flexbox(column, flex-start, center, nowrap);
  width: 100%;
  height: 90vh;
  background-color: $friendly-palette-neutral-50;

  .createBoardBox {
    flex-grow: 1;
    padding: 24px;
    margin-left: 0;
  }

  .defaultBoard {
    width: 200px;
    height: 170px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    padding: 30px 5px;
    background-image: url("../../assets/images/kanbanboard_120442.png");
    background-repeat: no-repeat;
    background-size: contain;

    @include flexbox(row, space-evenly, center, nowrap);
  }
}
