@import "../../mixins/flexbox";

.defaultBoard {
  width: 200px;
  height: 170px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  padding: 30px 5px;
  background-image: url("../../assets/images/kanbanboard_120442.png");
  background-repeat: no-repeat;
  background-size: contain;

  @include flexbox(row, space-evenly, center, nowrap);
}
