@import "../../theme/variables";

.column {
  height: 100%;
  width: 340px;
  box-sizing: border-box;
  border: 2px solid $friendly-palette-neutral-500;
  padding: 10px;
  border-radius: 15px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;

  .columnHeader {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin: auto;
    overflow: hidden;
    cursor: context-menu;
  }

  .columnHeaderTitle {
    min-width: 100px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: $friendly-palette-shades-900;
    margin: 0 auto;
  }

  .columnHeaderSubtitle {
    min-width: 100px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: $friendly-palette-neutral-600;
    margin: 0 auto;
  }
}

.column::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.column::-webkit-scrollbar {
  width: 0;
}
