@import "../../mixins/flexbox";

.header,
.footer {
  @include flexbox(row, space-between, center, nowrap);
}

.header {
  margin-bottom: 1rem;
  position: relative;

  .actionsButton:hover {
    background-color: unset;
  }
}

.footer {
  margin-top: 1rem;
}

.message > p {
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.message p {
  margin-bottom: 0;
}

.message span {
  display: list-item;
}

.showButton {
  width: 110px;
  margin: 0 0 0 auto !important;
}

.showButton:hover {
  background-color: unset !important;
}

.author {
  float: left;
  margin-right: 10px;
}
