@import "../../mixins/flexbox";

.settings {
  width: 100%;
  height: 90vh;
  padding: 25px 30px 0;

  .time {
    margin-bottom: 10px;
  }

  .input {
    margin: 10px 0 15px;
  }

  .columns {
    @include flexbox(column, unset, unset, nowrap);

    &__header {
      @include flexbox(row, space-between, center, nowrap);
    }

    &__content {
      padding-top: 15px;

      .column {
        width: 100%;
        height: 70px;
        margin-bottom: 10px;
        padding: 5px;

        @include flexbox(row, unset, unset, nowrap);

        &__avatar {
          width: 60px;
          height: 60px;
        }

        &__info {
          width: 100%;
          padding: 10px;
        }
      }
    }
  }

  .submitButton {
    margin-top: 15px;
  }
}

.main {
  height: 90vh;
  width: 100%;

  .customBoard {
    width: 250px;
    height: 170px;
    border: 1px solid black;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .customBoard + h3 {
    margin-bottom: 10px;
  }

  .listItemIcon {
    margin: 0 10px 5px;
    width: 14px;
    color: white;
  }
}
