@import "../../mixins/flexbox";

.boardsManagement {
  @include flexbox(column, flex-start, center, nowrap);
  flex-grow: 1;
}

.boardList {
  @include flexbox(column, flex-start, unset, nowrap);
  width: 100%;
  height: 70vh;
  margin: 0 32px;
}

.boardsManagementContainer {
  @include flexbox(column, center, center, unset);
  margin-bottom: 10px;
  width: 100%;
  height: 75vh;
  margin-top: 20px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
}

.boardsManagementContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.boardsManagementContainer::-webkit-scrollbar {
  width: 6px;
}

.boardsManagementLoader {
  @include flexbox(column, center, center, nowrap);
  align-self: center;
  width: 100%;
  height: 70vh;
}

.title {
  margin-bottom: 15px;
  margin-top: 0.75rem;
}
