@import "../../mixins/flexbox";

.navbar {
  @include flexbox(row, space-between, center, nowrap);

  h3 {
    cursor: context-menu;
  }
}

.link {
  color: gray;
  text-decoration: none;
}

.boardSettings {
  padding-left: 0.75rem;
}

.name,
.theme,
.timer {
  height: 30px;
  width: 400px;

  @include flexbox(row, space-between, center, nowrap);

  .input {
    border: none;
    background-color: #fff;
  }
}

.columnsBox {
  padding-top: 5px;

  .columns {
    margin-top: 10px;

    @include flexbox(row, space-between, center, nowrap);
  }

  p {
    cursor: context-menu;
  }
}
