@import "../../mixins/flexbox";
@import "../../theme/variables";

.navbar {
  @include flexbox(column, center, space-between, nowrap);

  h3 {
    cursor: context-menu;
  }
}

.link {
  color: $friendly-palette-neutral-500;
  text-decoration: none;
}

.boardSettings {
  padding: 0 1.5rem;
}

.name,
.theme,
.timer,
.participants {
  width: 400px;
  margin: 15px 0;

  @include flexbox(row, unset, center, nowrap);

  .label {
    width: 100px;

    @include flexbox(row, flex-end, center, nowrap);
  }

  .input {
    border: none;
    border-bottom: 2px solid $friendly-palette-neutral-50;
    background-color: $friendly-palette-shades-50;
    box-shadow: none;
    margin-left: 30px;
  }
}

.participants {
  width: 100%;
  align-items: flex-start;
}

.columnsBox {
  .columns {
    margin-top: 10px;

    @include flexbox(row, space-between, center, nowrap);
  }

  p {
    cursor: context-menu;
  }
}
