@import "../../mixins/flexbox";

.header {
  width: 100%;
  height: 10vh;
  background-color: #f5f6f7;
  padding: 15px;
  border-bottom: 1px solid black;

  @include flexbox(row, flex-end, center, nowrap);

  &__board-box {
    width: 60%;

    @include flexbox(row, space-between, center, nowrap);

    &__name {
      cursor: context-menu;
      margin-bottom: 0;
    }
  }

  &__board-actions {
    width: 30%;

    @include flexbox(row, space-between, center, nowrap);
  }

  &__user-box {
    width: 40%;

    @include flexbox(row, flex-end, center, nowrap);

    span {
      color: #45505f;
      line-height: 40px;
      cursor: context-menu;
      margin-right: 5px;
    }
  }

  &__sign-out {
    padding: 0 10px;
  }
}
