@import "../../mixins/flexbox";

.header {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #000;
  padding: 0 15px;

  @include flexbox(row, space-between, center, nowrap);
}

.userBlock {
  margin-bottom: 1rem;

  @include flexbox(row, space-between, center, nowrap);
}
