@import "../../mixins/flexbox";

.subheaderContainer {
  @include flexbox(row, flex-start, center, nowrap);
  width: 100%;
  height: 10vh;
  background-color: #fff;
  padding: 0 38px;

  .subheaderContainerFirstTitle,
  .subheaderContainerSecondTitle {
    display: flex;
    width: 50%;
    height: 40px;

    h2 {
      font-weight: 400;
      color: #191d23;
      font-size: 36px;
    }
  }

  .subheaderContainerFirstTitle {
    justify-content: flex-start;
    margin-left: 23px;
  }

  .subheaderContainerSecondTitle {
    justify-content: flex-end;
    margin-right: 23px;
  }

  .subheaderContainerForward,
  .subheaderContainerBackward {
    width: 36px;
  }

  .subheaderContainerForward {
    display: flex;
    justify-content: flex-end;
  }

  .subheaderContainerBackward {
    display: flex;
    justify-content: flex-start;
  }
}
