@use "~ag-grid-community/styles" as ag;
@import "../../theme/variables";
@include ag.grid-styles;

.boardSummaryContainer {
  background-color: $friendly-palette-neutral-50;
  height: 90vh;

  #summary-grid {
    width: 100vw;
    height: 80vh;
    padding: 36px;
  }

  .ag-theme-alpine {
    --ag-header-background-color: $friendly-palette-shades-50;

    .ag-root-wrapper {
      border: none;
    }

    .bi {
      color: $friendly-palette-neutral-900;
    }

    .ag-cell-label-container {
      font-size: 14px;
      font-weight: 600;
      color: $friendly-palette-primary-800;
    }

    .ag-center-cols-container {
      width: 100%;
    }
  }
}
